src/main/mule/hashtags.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="hashtags-main" doc:id="47bbae12-c947-44ad-b30d-fb7cee7acbdd" >
		<logger level="INFO" doc:name="Log request start time" doc:id="79fae744-0041-41b3-a7d2-e9a61805cc19" message='#["Received new hashtags request at " ++ now() &gt;&gt; "CST"]' />
		<set-variable value="#[attributes.queryParams]" doc:name="Set queryParams" doc:id="25f61f1c-d602-4f7d-b2dc-2d5b65fec1ac" variableName="queryParams	"/>
		<logger level="DEBUG" doc:name="DEBUG: Log incoming query parameters" doc:id="e70da57e-b58a-456f-9e51-83aef6978218" message="Incoming query parameters: #[vars.queryParams]" />
		<flow-ref doc:name="validate-hashtag-query-parameters" doc:id="6d54ac2f-467c-4e15-ac73-1977de846515" name="validate-hashtag-query-parameters"/>
		<http:request method="GET" doc:name="Request To Twitter For Tweets" doc:id="0045cd68-8a25-45ee-ab41-453f847fa1d5" config-ref="HTTPS_Twitter_Request_Config" path="${secure::twitter.api.path.searchTweets}">
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ p('secure::twitter.api.authToken')
}]]]></http:headers>
			<http:query-params><![CDATA[#[output application/java
---
{
	"q" : attributes.queryParams.searchCriteria,
	"count": p('secure::api.parameters.tweetSearchLimit.hashtags'),
	"result_type": p('secure::twitter.api.resultTypes.popular')
}]]]></http:query-params>
		</http:request>
		<logger level="DEBUG" doc:name="DEBUG: Log response from twitter" doc:id="e0d739e0-8412-473d-bc93-04c80bf1842d" message="Response from twitter query: #[payload]" />
		<ee:transform doc:name="extract hashtags and form response" doc:id="73c46499-58f8-4426-84d7-efc826b61aca" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	results: 
	//grab the hashtags from the response objects and flatten them to one array
	(flatten(payload.statuses.entities.hashtags).text 
	
	//get the distinct results
	distinctBy ((hashtag, index) -> hashtag)) default []
}

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log end time" doc:id="c2f7d0e8-dbe0-442b-8d38-81bd00c63620" message='#["Successful call finished at " ++ now() &gt;&gt; "CST"]' />
	</flow>
	<sub-flow name="validate-hashtag-query-parameters" doc:id="dde85386-a5b8-474b-b5e1-dd067879822d" >
		<ee:transform doc:name="set parametersAreValid" doc:id="dd0d2c4f-1931-4b8e-8f2b-a96f28a4950f" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="invalidParameter" ><![CDATA[%dw 2.0
output application/java


---
//check if searchCriteria is not an empty string
if(!contains(vars.queryParams.searchCriteria, /[a-zA-Z0-9]+/))
	"searchCriteria must contain at least one alpha numeric character"
else null


]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="If any parameters are invalid" doc:id="33cb0a29-471c-4cf1-b499-d3d4152af1a6" >
			<when expression="#[vars.invalidParameter != null]" >
				<logger level="ERROR" doc:name="Log Bad Request" doc:id="019699da-2955-4e24-9f12-7412f83d8289" message="the incoming query parameters are invalid #[vars.invalidParameters]" />
				<raise-error doc:name="Raise error INBOUNDPARAMETERS:BAD_REQUEST" doc:id="29a81445-33e5-42dd-bda7-7d2cfe4e3d36" type="INBOUNDPARAMETERS:BAD_REQUEST" description="#[vars.invalidParameter]" />
			</when>
		</choice>
	</sub-flow>
</mule>
